# Set URL for your scoped packages.
# For example package with name `@visualization-infrastructure/my-package` will use this URL for download
 @visualization-infrastructure:registry=https://gitlab.com/api/v4/packages/npm/

# Add the token for the scoped packages URL. This will allow you to download
# `@visualization-infrastructure/` packages from private projects.
'//gitlab.com/api/v4/packages/npm/:_authToken'="X92MZE1YGTssb_ymsPLA"

# Add token for uploading to the registry. Replace <your-project-id>
# with the project you want your package to be uploaded to.
'//gitlab.com/api/v4/projects/170/packages/npm/:_authToken'="X92MZE1YGTssb_ymsPLA"
