@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/Vazir-Thin-FD.ttf") format("truetype");
}
@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Vazir-Light-FD.ttf") format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Vazir-Medium-FD.ttf") format("truetype");
}
@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Vazir-Bold-FD.ttf") format("truetype");
}
@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Vazir-Black-FD.ttf") format("truetype");
}

body {
  color: rgba(0, 0, 0, 0.87);
  font-family: Vazir, Arial, sans-serif;
  font-weight: 500;
  background-color: #fafafa;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
